header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid black;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 50%;
    height: 100%;
}

a {
    font-size: 30pt;
}

a.active, a:focus, a:active {
    color: green;
}